#parse("templates/encabezado.html")


<body>
    <!-- Contenido principal de la página de inicio -->
    <section class="inicio">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-5">
                    <h1>Bienvenido a Fika Café</h1>
                    <p>Descubre nuestras deliciosas opciones de café y más.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://scontent.fgpo2-1.fna.fbcdn.net/v/t39.30808-6/328620189_851754072713603_6419074448809958907_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=49d041&_nc_ohc=-ePKEhf8s2gAX8cJTAT&_nc_ht=scontent.fgpo2-1.fna&oh=00_AfCwYWd62mL4XypvKofudcyIC9Q8bceIDXfSw306HYaoDQ&oe=6525123E" alt="Imagen 1" class="img-fluid mb-3">
                    <h2>Variedad de Café</h2>
                    <p>Ofrecemos una amplia selección de cafés gourmet de todo el mundo.</p>
                </div>
                <div class="col-md-4">
                    <img src="https://scontent.fgpo2-1.fna.fbcdn.net/v/t39.30808-6/328607223_919010679116909_1092961569441862213_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=49d041&_nc_ohc=DsQskzAKtv8AX9BXwi_&_nc_ht=scontent.fgpo2-1.fna&oh=00_AfCGJhK50vTFRa6c74h5QPKWxkXqJe7ouw340vkNHnsrAw&oe=6526183C" alt="Imagen 2" class="img-fluid mb-3">
                    <h2>Productos Frescos</h2>
                    <p>Nuestros productos son frescos y preparados con ingredientes de alta calidad.</p>
                </div>
                <div class="col-md-4">
                    <img src="https://scontent.fgpo2-1.fna.fbcdn.net/v/t39.30808-6/333101906_1861217107611485_4525509216977067775_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=49d041&_nc_ohc=kCbPaDhOpPEAX-OPXxL&_nc_ht=scontent.fgpo2-1.fna&oh=00_AfCbJdXiSPYZ5sVnbSTJFj03Rt7AjtGN4HWnB-Rbn2VwLQ&oe=6525268F" alt="Imagen 3" class="img-fluid mb-3">
                    <h2>Entorno Acogedor</h2>
                    <p>Disfruta de un ambiente acogedor y relajante mientras saboreas tu café favorito.</p>
                </div>
            </div>
        </div>
    </section>
<style>
/* Estilos personalizados para la página de inicio */

body {
    background-color: #F5DEB3; /* Marrón oscuro como fondo principal */
    color: #8B4513; /* Texto en color blanco */
    font-family: Arial, sans-serif; /* Tipo de fuente */
}

.inicio {
    padding: 100px 0; /* Espaciado interno en la sección de inicio */
}

.inicio p {
    font-size: 24px; /* Tamaño de fuente */
}

/* Estilo de imagen de fondo */
.img-fluid {
    width: 100%;
    height: auto;
}

</style>
</body>

#parse("templates/pie.html")