<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Menús</title>
</head>
<body>
    <h1>Listado de Menús</h1>
    <ul>
        #foreach ($menu in $menus)
        <li>
            <h2>$menu.getNombre()</h2>
            <p><strong>Precio Total:</strong> $menu.getPrecioTotal()</p>

            <ul>
                #foreach ($producto in $menu.getProductos())
                <li>
                    <strong>Producto:</strong> $producto.getNombre()<br>
                    <strong>Categoría:</strong> $producto.getCategoria()<br>
                    <strong>Precio:</strong> $producto.getPrecio()
                </li>
                #end
            </ul>
        </li>
        #end
    </ul>
</body>
</html>
