<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pedidos - Panel de Administración</title>
</head>
<body>
    <h1>Lista de Pedidos</h1>
    <table>
        <thead>
            <tr>
                <th>Número de Pedido</th>
                <th>Fecha de Pedido</th>
                <th>Fecha de Entrega</th>
                <th>Estado del Pedido</th>
                <th>Cliente</th>
                
            </tr>
        </thead>
        <tbody>
            #foreach ($pedido in $pedidos)
            <tr>
                <td>$pedido.id</td>
                <td>$pedido.fechaPedido</td>
                <td>$pedido.fechaEntrega</td>
                <td>$pedido.estado</td>
                <td>$pedido.cliente.nombre</td>
                
            </tr>
            #end
        </tbody>
    </table>
</body>
</html>
